
/* --- Custom properties aka variables --- */

:root {
    /* Note: CSS custom variables not implemented in IE 11 */
    /* Colorscheme generation helped along by https://coolors.co/ */
    --accent:               #c05746; /* Cedar Chest */
    --bg:                   #f4f9e9; /* Isabelline */
    --bg-darker:            #eef5db; /* Beige */
    --fg:                   #2b4162; /* Deep Koamaru */
    --fg-lighter:           #385f71; /* Deep Space Sparkle */
    --fg-lightest:          #75b9be; /* Moonstone Blue */
    --text:                 black;
}

/* --- General styles --- */

* {
    box-sizing:             border-box;
}

html {
    background-color:       var(--fg-lighter);
    font-size:              90%; /* Specified here to set rem unit size */
}

body {
    background-color:       var(--bg);
    color:                  var(--text);
    font-family:            sans-serif;
    margin:                 0 auto;
    max-width:              800px;
}

/* --- Header, Footer, and navigation styles --- */

header, nav, footer {
    background-color:       var(--fg);
    color:                  var(--bg);
    padding-left:           2rem;
    padding-right:          2rem;
}

header, footer {
    padding-bottom:         1rem;
    padding-top:            1rem;
}

header h1, header p, footer p {
    margin-bottom:          0;
    margin-top:             0;
}

nav ul {
    display:                flex;
    flex-direction:         row;
    list-style:             none;
    margin:                 0;
    padding:                0;
}

nav li ul {
    display:                none;
}

nav li:hover ul {
    background-color:       var(--fg);
    color:                  var(--bg);
    display:                flex;
    flex-direction:         column;
    position:               absolute;
}

nav a {
    color:                  var(--bg);
    display:                inline-block;
    padding:                .5rem .75rem;
    text-decoration:        none;
    width:                  100%;
}

nav a:hover, nav a.current {
    background-color:       var(--accent);
    color:                  var(--bg);
}

/* --- Main content styles --- */

main {
    line-height:            1.3;        /* Should match ol.airplane li > *   */
    padding:                1rem 2rem;
}

main a:link, main a:visited {
    color:                  var(--accent);
}

h2 {
    margin-top:             0;
}

/* --- Specialized styles --- */

/*  The next 3 selectors create an ordered list where an initial image
 *  sits ABOVE the horizontal level of the counter (of the 1., 2., etc.)
 *  and text below the image sits level with the counter.
 */

/*  Align the counter of the list with the BOTTOM of the image.
 *  Also, prevent the image from overflowing the container.
 */
ol.airplane li img {
    max-width:              100%;           /* Don't overflow container */
    height:                 auto;           /* Preserve aspect ratio */
    vertical-align:         bottom;
}

/*  Remove any paragraph top margin which, when below an image, could
 *  move things down further.
 */
ol.airplane li p {
    margin-top:             0;
}

/*  Move all immediate children of the list items up by the
 *  default line height.  In particular this moves an initial image
 *  above the level of the counter (the 1., 2., etc), and moves the
 *  paragraph below the image up even with the counter, which is our goal.
 *  We raise the children of the list item because if we raise the list item
 *  itself, it would also raise the counter, negating what we are trying to do.
 *
 */
ol.airplane li > * {
    position:               relative;
    top:                    -1.3rem;    /* Should match main's line-height */
}

/*  Pad the ordered list on the top to give room for other stuff to move up. */
ol.airplane {
    padding-top:            1.3rem;     /* Should match main's line-height */
}

