@import url('https://fonts.googleapis.com/css?family=Wire+One');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400');

/* Allow printing (at least on Chrome) with no browser-added headers. */
@media print {
    @page {
        margin: 0;
    }
}

body {
    background-color: gray;
    box-sizing: border-box;
    font-size: .8rem;
    font-family: 'Open Sans', sans-serif;
}

#border {
    background-color: white;
    margin: 1em auto 0 auto;
    max-width: 800px;
    padding: 2em 3em 2em 0;
}

/* To mimic paper resume look, remove link formatting except on hover. */
a {
    color: inherit;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}

header h1 {
    float: left;
    font-family: 'Wire One', sans-serif;
    font-size: 5.6rem;
    font-weight: normal;
}

/* Make responsive, at least a bit. */
@media screen and (min-width: 601px) and (max-width: 768px) {
    header h1 {
        font-size: 3.5rem;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
}

header p {
    font-size: 0.7rem;
    text-align: right;
}

header p:first-of-type {
    padding-top: .5rem;
}

header .section-right:last-child {
    padding-bottom: 1.5rem;
}

h2, h3, h4 {
    font-size: 1em;
    margin-bottom: 0;
    margin-top: 0;
}

h1, p, ul {
    margin-bottom: 0;
    margin-top: 0;
}

h2 {
    text-transform: uppercase;
}

h3.date {
    font-weight: normal;
}

/* left-sidebar stuff. */
h2, h3 {
    clear: both;
    float: left;
    text-align: right;
    width: 140px;
}

/* Right-side stuff. */
/* Hack: Empty <p>'s following <h2>'s just adjust right column down. */
.section-right, h2 + p {
    border-left: .25pt solid gray;
    margin-left: 160px;
    padding-left: 20px;
}

/* Make responsive, at least a bit. */
@media screen and (max-width: 600px) {
    h2, h3 {
        width: 100px;
    }
    .section-right, h2 + p {
        margin-left: 120px;
    }
}

.section-right {
    padding-bottom: 1em;
}

ul {
    padding-left: 20px; /* Put bullets inside <p> margins, but only barely. */
    margin-top: 0;
}

/* Make word wrapping and length of print version more closely match screen,
   but at price of smaller left and right margin. */
@media print {
    #border {
        padding: 2em 2em 2em 0;
    }

    h2, h3 {
        width: 110px;
    }

    .section-right, h2 + p {
        margin-left: 130px;
    }
}

